---
import type { JsxEmit } from 'typescript';
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Compétences</h2>
		<p>>Bonne compétence en C/Java/python/javascript/php/html/css/SQL/GIT/Scripting(Bash/shell)<br>
		   >Très bonne base de l'activedirectory, MS Windows,Linux,node js, react<br>
		   >Modélisation tridimensionnelle<br>
		   		   >Capacité à guider et aider une équipe vers l'atteinte des objectifs <br>
		   

		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Outils</h2>
		<p>>Pack LibreOffice et Microsoft Office,Google Dorking, Draw io, Visual studio code, Notepad++<br>
		>Burpsuite,Métasploit,clodeBlock, OSINT ,Packet Tracer,Eclipse,VirtualBox, GITHUB, Lindo</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Travail en groupe et orienté Stratégie</h2>
		<p>>Approche réfléchie pour résoudre des problèmes complexes, en utilisant des méthodologies éprouvées et une analyse approfondie.
			<br>><font style="font-weight:bold; color:red">en recherche d'alternance  pour un cursus FISA en école d'ingénieur spécialité informatique</font></p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
